<nav>
  <a href="/">Home</a>
  <form method="get" action="/contacts/search" class="search-form">
    <input name="q" type="search" placeholder="search" value="<%= query %>" autofocus/>
    <input type="submit" style="display: none" />
  </form>
  <%if (user) {%>
    <a href="/users/logout">Logout</a>
  <%} else {%>
    <a href="/users/login">Login</a>
<% } %>
</nav>
